<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <style>
        table,table tr th, table tr td { border:1px solid #999999; }
        table { min-height: 25px; line-height: 25px; text-align: center; border-collapse: collapse; padding:2px;}   
        table tr { align-items: center; }
        table tr td {max-width: 200px; padding-left: 20px; padding-right: 40px;}
    </style>
</head>
<body>
    <div id="app">
        <button type="button" onclick="toAddAction();">新增</button><br/><br/>     
        <table>
            <tr>
                <th>标题</th>
                <th>内容</th>
                <th>访问量</th>
                <th>日期</th>
                <th>作者</th>
                <th>操作</th>
            </tr>
            {% for blog in blogs %}
                <tr>
                    <td><a href="blog/{{blog.id}}">{{blog.title}}</a></td>
                    <td>{{blog.content}}</td>
                    <td>{{blog.counter}}</td>
                    <td>{{blog.pubData}}</td>
                    <td>{{blog.author.name}}</td>
                    <td><button type="button" onclick="editAction('{{blog.id}}')">修改</button> <button type="button" onclick="deleteAction('{{blog.id}}')">删除</button></td>
                </tr>
            {% endfor %}
        </table>
        <br/>
        <div class="pagination">
            <span class="step-links">
                {% if blogs.number != 1 %}
                    <a href="?page=1">首页</a>
                {% endif %}
                {% if blogs.has_previous %}
                    <a href="?page={{ blogs.previous_page_number }}">上一页</a>
                {% endif %}
                <span class="current">
                    {{ blogs.number }}/{{ blogs.paginator.num_pages }}
                </span>
                {% if blogs.has_next %}
                    <a href="?page={{ blogs.next_page_number }}">下一页</a>
                {% endif %}
                {% if blogs.number != blogs.paginator.num_pages %}
                    <a href="?page={{ blogs.paginator.num_pages }}">尾页</a>
                {% endif %}
            </span>
        </div>
    </div>
    <script>
        function toAddAction() {
            window.location.href = "/toAddBlog";
        }
        function editAction(blogId) {
            window.location.href = "/toUpdateBlog/"+blogId;
        }
        function deleteAction(blogId) {
            var r=confirm("确认删除?")
            if (r==true){
                $.get("http://127.0.0.1:8000/deleteBlog/"+blogId, function(data, status){
                    alert(data["message"]);
                    if (data["code"]==200) {
                        window.location.reload();
                    }
                });
            }
        }
    </script>
</body>
</html>