<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!-- 包含头部信息用于适应不同设备 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 包含 bootstrap 样式表 -->
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
    <style>
        .greenBtn {padding: 5px 10px; background-color: green; color: white;}
        .redBtn {padding: 5px 10px; background-color: red; color: white;}
    </style>
</head>
<body>
    <div id="app">
        <button class="greenBtn" type="button" onclick="toAddAction();">新增</button><br/><br/>     
        <table class="table table-striped table-bordered">
            <tr>
                <th></th>
                <th>标题</th>
                <th>子标题</th>
                <th>访问量</th>
                <th>日期</th>
                <th>作者</th>
                <th>操作</th>
            </tr>
            {% for blog in blogs %}
                <tr>
                    <td width="10">{{forloop.counter}}</td>
                    <td width="100"><a href="blog/{{blog.id}}/{{blogs.number}}">{{blog.title}}</a></td>
                    <td width="200">{{blog.subTitle}}</td>
                    <td width="10">{{blog.counter}}</td>
                    <td width="50">{{blog.pubData}}</td>
                    <td width="20">{{blog.author.name}}</td>
                    <td width="50"><button class="greenBtn" type="button" onclick="editAction('{{blog.id}}')">修改</button> <button class="redBtn" type="button" onclick="deleteAction('{{blog.id}}')">删除</button></td>
                </tr>
            {% endfor %}
        </table>
        <br/>
        <div class="pagination">
            <span class="step-links">
                {% if blogs.number != 1 %}
                    <a href="?page=1">首页</a>
                {% endif %}
                {% if blogs.has_previous %}
                    <a href="?page={{ blogs.previous_page_number }}">上一页</a>
                {% endif %}
                <span class="current">
                    {{ blogs.number }}/{{ blogs.paginator.num_pages }}
                </span>
                {% if blogs.has_next %}
                    <a href="?page={{ blogs.next_page_number }}">下一页</a>
                {% endif %}
                {% if blogs.number != blogs.paginator.num_pages %}
                    <a href="?page={{ blogs.paginator.num_pages }}">尾页</a>
                {% endif %}
            </span>
        </div>
    </div>
    <script>
        function toAddAction() {
            window.location.href = "/toAddBlog";
        }
        function editAction(blogId) {
            window.location.href = "/toUpdateBlog/"+blogId;
        }
        function deleteAction(blogId) {
            var r=confirm("确认删除?")
            if (r==true){
                $.post("{% url 'blog:deleteBlog' %}", {"blogId":blogId}, function(data, status){
                    alert(data["message"]);
                    if (data["code"]==200) {
                        window.location.reload();
                    }
                });
            }
        }
    </script>
    <!-- JavaScript 放置在文档最后面可以使页面加载速度更快 -->
    <!-- 可选: 包含 jQuery 库 -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- 可选: 合并了 Bootstrap JavaScript 插件 -->
    <script src="https://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>