<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">
</head>
<body>
    <button class="greenBtn" type="button" onclick="window.location.href = 'showBlogList';">首页</button><br/><br/>
    <form id="form" action="{% url 'blog:addBlog' %}" onsubmit="return onSubmitAction()" method="POST">
        {% csrf_token %}
        <input style="min-width: 300px;" id="title" type="text" name="title" placeholder="标题" value="{{title}}" /><br/>
        <input style="min-width: 300px;" id="subTitle" type="text" name="subTitle" placeholder="子标题" value="{{subTitle}}" /><br/>
        <textarea style="min-width: 300px; min-height: 100px;" id="content" type="text" name="content" placeholder="内容">{{content}}</textarea><br/>
        <select id="authorId" name="authorId" form="form" value="{{authorId}}">
            {% for author in authors %}
                <option value="{{author.id}}">{{author.name}}</option>
            {% endfor %}
        </select><br/><br/>
        <button class="redBtn" type="reset">重置</button>
        <button class="greenBtn" type="submit">提交</button>
    </form>
    <label style="color: red;">{{message}}</label>
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'jquery.form.js' %}"></script>
    <script src="{% static 'custom.js' %}"></script>
    <script>
        $("#form").ajaxForm(function(data){
            alert(data.message);
            if(data.status==200){
                window.location.href = '/showBlogList';
            }
        }); 
        function onSubmitAction() {
            var title = document.getElementById("title").value;
            var content = document.getElementById("content").value;
            var authorId = document.getElementById("authorId").value;
            if(isEmpty(title)){
                alert("标题不能为空");
                return false;
            }else if (isEmpty(content)) {
                alert("内容不能为空");
                return false;
            }else if (isEmpty(authorId)) {
                alert("作者不能为空");
                return false;
            }
            return true;
        }
    </script>
</body>
</html>