<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!-- 包含头部信息用于适应不同设备 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <!-- 包含 bootstrap 样式表 -->
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "custom.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "/css/bootstrap-editable.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "/css/bootstrap-table.css" %}">
</head>
<body>
    <div id="app">
        <div align="right"><input type="button" onclick="logout();" value="登出" class="redBtn"></div>
        <div id="toolbar">
            <button style="padding-top: 0px; padding-bottom: 0px;" class="greenBtn" type="button" onclick="toAddAction();">新增</button><br/>    
        </div>
        <table id="table" class="table table-striped table-bordered table-hover table-condensed" style="min-width: 1280px;">
        </table>
    </div>
    <!-- JavaScript 放置在文档最后面可以使页面加载速度更快 -->
    <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> -->
    <script src="{% static "jquery.min.js" %}"></script>
    <!-- 可选: 合并了 Bootstrap JavaScript 插件 -->
    <!-- <script src="https://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
    <script src="{% static "custom.js" %}"></script>
    <script src="{% static "/js/bootstrap.js" %}"></script>
    <script src="{% static "/js/bootstrap-editable.js" %}"></script>
    <script src="{% static "/js/bootstrap-table.js" %}"></script>
    <script src="{% static "/js/bootstrap-table-zh-CN.js" %}"></script>
    <script src="{% static "/js/bootstrap-table-editable.js" %}"></script>
    <script>
        // $.fn.bootstrapTable.defaults.mode = 'inline';
        $(function(){
            $('#table').bootstrapTable({
                url: "{% url 'blog:getBlogList' %}",
                method: 'get',
                dataType: "json",
                 //排序方式 
                sortOrder: "asc",
                striped: true,//设置为 true 会有隔行变色效果  
                undefinedText: "-",//当数据为 undefined 时显示的字符  
                pagination: true, //分页  
                paginationPreText: '‹',//指定分页条中上一页按钮的图标或文字,这里是<  
                paginationNextText: '›',//指定分页条中下一页按钮的图标或文字,这里是>  
                // showPaginationSwitch:true,//是否显示 数据条数选择框
                // paginationLoop:true,//设置为 true 启用分页条无限循环的功能。  
                // showToggle: "true",//是否显示 切换试图（table/card）按钮  
                // showColumns: "true",//是否显示 内容列下拉框  
                toolbar: "#toolbar",
                editable: true,
                pageSize: 10,//如果设置了分页，页面数据条数  
                pageList: [10, 20],  //如果设置了分页，设置可供选择的页面数据条数。设置为All 则显示所有记录。  
                // singleSelect: false,//设置True 将禁止多选  
                idField: "id",//指定主键列
                showRefresh: true,
                search: true,
                strictSearch: true,//Enable the strict search.
                clickToSelect: true,
                // data_local: "zh-US",//表格汉化
                sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
                // showExport: true,                    
                // exportDataType: 'all',
                // exportTypes:[ 'csv', 'txt', 'sql', 'doc', 'excel', 'xlsx', 'pdf'],  //导出文件类型
                queryParams: function (params) {//自定义参数，这里的参数是传给后台的，我这是是分页用的
                    return {//这里的params是table提供的
                        offset: params.offset,//从数据库第几条记录开始  
                        limit: params.limit,//找多少条  
                        search: params.search,
                    };  
                },
                // onClickRow: function(row){
                    // window.open("/showBlog?blogId="+row.id);
                // },
                onEditableSave: function(field, row, oldValue, $el) {
                    var post_data = {
                        "blogId": row.id,//获得所在行指定列的值
                        "newValue": row[field],
                        "field": field
                    };
                    $.post("{% url 'blog:editBlogColumn' %}", post_data, function(data, status){
                        if (data["status"]!=200) {
                            alert(data["message"]);
                            row[field] = oldValue;
                            $table = $('#table').bootstrapTable({});
                            $table.bootstrapTable('updateRow', {index: row.rowId, row: row});
                        }
                    });
                },
                columns: [{
                    field: 'id',
                    title: 'ID',
                    visible: true,
                    formatter: function (value, row){
                        return ['<a target="_blank" href="showBlog?blogId='+row.id+'">'+value+'</a>'];
                    }
                }, {
                    field: 'title',
                    title: '标题',
                    width: '35%',
                    editable: {
                        type: "text",                //编辑框的类型。支持text|textarea|select|date|checklist等
                        title: "标题",                //编辑框的标题
                        disabled: false,             //是否禁用编辑
                        emptytext: "空文本",          //空值的默认文本
                        mode: "inline",              //编辑框的模式：支持popup和inline两种模式，默认是popup
                        validate: function (v) {
                            if ($.trim(v) == '') {
                                return '标题不能为空!';
                            }
                        }
                    }
                }, {
                    field: 'subTitle',
                    title: '子标题',
                    width: '25%',
                    editable: {
                        type: 'text',
                        title: '子标题',
                        validate: function (v) {
                            if ($.trim(v) == '') {  
                                return '子标题不能为空!';  
                            }
                        }
                    }
                },  {
                    field: 'counter',
                    title: '访问量',
                    align: 'center'
                }, {
                    field: 'pubDate',
                    title: '日期',
                    align: 'center'
                }, {
                    field: 'author',
                    title: '作者',
                    align: 'center',
                    editable: {
                        type: 'select',
                        title: '作者',
                        pk: 1,
                        // source: [
                            // {value: 1, text: '张三'},
                            // {value: 2, text: '李四'},
                        // ],
                        source: function () {
                            var result = [];
                            //使用ajax同步加载数据
                            $.ajax({
                                url: "{% url 'blog:getAllAuthor' %}",
                                async: false,
                                type: "get",
                                data: {},
                                success: function (data, status) {
                                    $.each(data.result, function (key, value) {
                                        result.push({ value: value.id, text: value.name });
                                    });
                                }
                            });
                            return result;
                        },
                        validate: function (v) {
                            if (!v) return '值不能为空';
                        }
                    }
                }, {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row){
                        return ['<button class="greenBtn" type="button" onclick="editAction('+row.id+')">修改</button>',
                            '<button class="redBtn" type="button" onclick="deleteAction('+row.id+')">删除</button>',
                        ].join('');
                    }
                }],
                
            });
        });
        function logout() {
            $.get("accounts/logout/", function(data, status){
                alert(data.message);
                if(data.status==200){
                    window.location.href = '/';
                }
            });
        }
        function toAddAction() {
            window.open("/toAddBlog");
        }
        function editAction(blogId) {
            window.open("/toUpdateBlog?blogId="+blogId);
        }
        function deleteAction(blogId) {
            var r=confirm("确认删除?")
            if (r==true){
                $.post("{% url 'blog:deleteBlog' %}", {"blogId":blogId}, function(data, status){
                    alert(data["message"]);
                    if (data["status"]==200) {
                        window.location.reload();
                    }
                });
            }
        }
    </script>
</body>
</html>