<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">
</head>
<body>
    <button type="button" class="greenBtn" onclick="window.location.href = 'showBlogList';">首页</button>
    <div class="col-md-9">
        <h2>{{blog.title}}</h2>
        <h4>{{blog.subTitle}}</h4>
        作者：{{blog.author.name}}<br/>
        日期：{{blog.pubDate|date:"Y-m-d g:i:s"}}
        <br/>
        <pre>{{blog.content}}</pre>
    </div>
</body>
</html>