<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">
</head>
<body>
    <button class="greenBtn" type="button" onclick="window.location.href = 'showBlogList';">首页</button><br/><br/>
    <form id="form" action="{% url 'blog:updateBlog' %}" onsubmit="return onSubmitAction()" method="POST">
        {% csrf_token %}
        <input id="blogId" hidden="hidden" type="text" name="blogId" value="{{blog.id}}" />
        <input id="title" type="text" name="title" placeholder="标题" value="{{blog.title}}" /><br/>
        <input id="subTitle" type="text" name="subTitle" placeholder="子标题" value="{{blog.subTitle}}" /><br/>
        <textarea style="min-width: 300px; min-height: 100px;" id="content" type="text" name="content" placeholder="内容">{{blog.content}}</textarea><br/>
        <input id="authorIdInput" hidden="hidden" type="text" value="{{blog.author.id}}" />
        <select id="authorId" name="authorId" form="form" value="{{blog.author.id}}">
            {% for author in authors %}
                <option value="{{author.id}}">{{author.name}}</option>
            {% endfor %}
        </select><br/><br/>
        <button class="greenBtn" type="submit">提交</button>
    </form>
    <label style="color: red;">{{message}}</label>
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'jquery.form.js' %}"></script>
    <script type="text/javascript">
        window.onload = function(){
            var author_select = document.getElementById("authorId");
            var author_select_value = document.getElementById("authorIdInput").value;
            var all_options = author_select.options;
            for (i=0; i<all_options.length; i++){
                if (all_options[i].value == author_select_value)  // 根据option标签的ID来进行判断  测试的代码这里是两个等号
                {
                    all_options[i].selected = true;
                }
            }
        }
        /** 验证文件是否导入成功  */  
        $("#form").ajaxForm(function(data){
            alert(data.message);
            if(data.status==200){
                window.location.href = '/showBlogList';
            }
        }); 
        function onSubmitAction() {
            var title = document.getElementById("title").value;
            var content = document.getElementById("content").value;
            var authorId = document.getElementById("authorId").value;
            if(isEmpty(title)){
                alert("标题不能为空");
                return false;
            }else if (isEmpty(content)) {
                alert("内容不能为空");
                return false;
            }else if (isEmpty(authorId)) {
                alert("作者不能为空");
                return false;
            }
            return true;
        }
    </script>
</body>
</html>