.add_table{
    width: 70% !important;
    margin-left: 26% !important;
}

.add_button{
    width: 70% !important;
    margin-left: 26.5% !important;
}

.submit_button{
    width: 70% !important;
    margin-left: 7.4% !important;
}